<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="erlide">
         <property
               name="aboutText"
               value="erlide about haha">
         </property>
         <property
               name="appName"
               value="erlide">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutImage"
               value="/org.erlide/erlang120.gif">
         </property>
      </product>
   </extension>
<extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ui.preferencePages.Workbench"
            class="org.eclipse.ui.intro.universal.ExtensionFactory:welcomeCustomization"
            id="org.erlide.intro.introCustomization"
            name="%introCustomizationPreference.name">
         <keywordReference id="org.eclipse.ui.ide.appearance"/>
      </page>
   </extension>
</plugin>
