<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.erlide.runtime.codepath">

     <beam_dir
            path="common"
            context="common"
            otp_version="R16">
      </beam_dir>

     <beam_dir
            path="debugger"
            context="debugger"
            otp_version="R16">
      </beam_dir>

     <beam_dir
            path="debugger/17"
            context="debugger"
            otp_version="17">
      </beam_dir>

     <beam_dir
            path="debugger/18"
            context="debugger"
            otp_version="18">
      </beam_dir>

     <beam_dir
            path="debugger/r16"
            context="debugger"
            otp_version="R16">
      </beam_dir>

     <beam_dir
            path="ide"
            context="ide"
            otp_version="18">
      </beam_dir>

​   </extension>
</plugin>
