%%%-------------------------------------------------------------------
%%% Author  : %{author}%
%%% Description : 
%%%
%%% Created : %{date}%
%%%-------------------------------------------------------------------
-module(%{name}%).

-behaviour(supervisor_bridge).
%%--------------------------------------------------------------------
%% Include files
%%--------------------------------------------------------------------

%%--------------------------------------------------------------------
%% External exports
%%--------------------------------------------------------------------
-export([
	 start_link/0
        ]).

%%--------------------------------------------------------------------
%% Internal exports
%%--------------------------------------------------------------------
-export([
	 init/1, 
	 terminate/2
        ]).

%%--------------------------------------------------------------------
%% Macros
%%--------------------------------------------------------------------
-define(SERVER, ?MODULE).

%%--------------------------------------------------------------------
%% Records
%%--------------------------------------------------------------------
-record(state, {}).

%%====================================================================
%% External functions
%%====================================================================
%%--------------------------------------------------------------------
%% Function: start_link/0
%% Description: Starts the supervisor bridge
%%--------------------------------------------------------------------
start_link() ->
    supervisor_bridge:start_link({local, ?SERVER}, ?MODULE, []).

%%====================================================================
%% Server functions
%%====================================================================
%%--------------------------------------------------------------------
%% Func: init/1
%% Returns: {ok,  Pid, State} |
%%          ignore            |
%%          {error, Reason}    
%%--------------------------------------------------------------------
init([]) ->
    case 'AModule':start_link() of
	{ok, Pid} ->
	    {ok, Pid, #state{}};
	Error ->
	    Error
    end.

%%--------------------------------------------------------------------
%% Func: terminate/2
%% Purpose: Synchronized shutdown of the underlying sub system.
%% Returns: any
%%--------------------------------------------------------------------
terminate(Reason, State) ->
    'AModule':stop(),
    ok.

%%====================================================================
%% Internal functions
%%====================================================================
