*.beam
*.class
workspaces
bin/
*.orig
hs_err*.log
safe_erlide.log
.metadata
.escabaseline
erlide.log
erlide.log.*
External_Files
cover_report
org.erlide.selfhost*
*.bak
refac_proj
junit-*
Simple*
temp
*tracing*
ttb_last_config
*.log.lck
.nfs*
.~lock.*
.recommenders
*._trace

