.eunit
deps
*.o
*.beam
*.plt
erl_crash.dump

.vagrant
*.class
hs_err_pid*

workspaces
**/bin/
**/ebin/*.app
*.orig
*.rej
hs_err*.log
safe_erlide.log
.metadata
.escabaseline
erlide.log
erlide.log.*
External_Files
cover_report
*.bak
junit-*
temp
ttb_last_config
*.log.lck
.nfs*
.~lock.*
.recommenders
*._trace
.sonar

Rerun\ *.launch
org.erlide.ui.tests/projects/Erlide_tests (1).launch

buildroot/
coverage.data
coverage.info
coverage.xml
junit.xml

.rebar
.eunit

*.pmd
