.vagrant
*.beam
*.class
workspaces
bin/
ebin/*.app
*.orig
hs_err*.log
safe_erlide.log
.metadata
.escabaseline
erlide.log
erlide.log.*
External_Files
cover_report
*.bak
junit-*
temp
ttb_last_config
*.log.lck
.nfs*
.~lock.*
.recommenders
*._trace
buildroot
tools
target.platform
.sonar

