<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.erlide.tracing.core.perspectives.ErlangTracingPerspective"
            icon="icons/perspective.gif"
            id="org.erlide.tracing.core.perspectives.ErlangTracingPerspective"
            name="Erlang Tracing">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.erlide.views"
            class="org.erlide.tracing.core.views.ControlPanelView"
            icon="icons/controlPanelView.gif"
            id="org.erlide.tracing.core.views.ControlPanelView"
            name="Erlang tracing control panel">
      </view>
      <view
            allowMultiple="false"
            category="org.erlide.views"
            class="org.erlide.tracing.core.views.TraceBrowserView"
            icon="icons/treeViewerView.gif"
            id="org.erlide.tracing.core.views.TraceBrowserView"
            name="Erlang trace browser">
      </view>
      <view
            allowMultiple="false"
            category="org.erlide.views"
            class="org.erlide.tracing.core.views.TreeViewerView"
            icon="icons/treeViewerView.gif"
            id="org.erlide.tracing.core.views.TreeViewerView"
            name="Erlang tracing tree viewer">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="org.erlide.tracing.core.tracing"
               label="%tracingCategory">
            <command
                  commandId="org.erlide.tracing.core.createtracepattern"
                  id="org.erlide.tracing.core.createtracepattern"
                  style="push">
               <!--<visibleWhen>
                  <iterate>
                     <adapt
                           type="org.erlide.core.model.erlang.IErlFunctionClause">
                     </adapt>
                  </iterate>
               </visibleWhen>-->
            </command>
            <command
                  commandId="org.erlide.tracing.core.createtracepatternwithnoarity"
                  id="org.erlide.tracing.core.createtracepatternwithnoarity"
                  style="push">
            </command>
            <separator
                  name="org.erlide.tracing.core.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.erlide.tracing.core.removetracepattern"
                  id="org.erlide.tracing.core.removetracepattern"
                  style="push">
            </command>
            <command
                  commandId="org.erlide.tracing.core.removetracepatternwithnoarity"
                  id="org.erlide.tracing.core.removetracepatternwithnoarity"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.erlide.tracing.core.tracing"
            name="%tracingCategory">
      </category>
      <command
            categoryId="org.erlide.tracing.core.tracing"
            id="org.erlide.tracing.core.createtracepattern"
            name="%createTracePattern">
      </command>
      <command
            categoryId="org.erlide.tracing.core.tracing"
            id="org.erlide.tracing.core.createtracepatternwithnoarity"
            name="%createTracePatternWithNoArity">
      </command>
      <command
            categoryId="org.erlide.tracing.core.tracing"
            id="org.erlide.tracing.core.removetracepattern"
            name="%removeTracePattern">
      </command>
      <command
            categoryId="org.erlide.tracing.core.tracing"
            id="org.erlide.tracing.core.removetracepatternwithnoarity"
            name="%removeTracePatternWithNoArity">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.erlide.tracing.core.ui.menu.CreateTracePatternHandler"
            commandId="org.erlide.tracing.core.createtracepattern">
      </handler>
      <handler
            class="org.erlide.tracing.core.ui.menu.CreateTracePatternWithNoArityHandler"
            commandId="org.erlide.tracing.core.createtracepatternwithnoarity">
      </handler>
      <handler
            class="org.erlide.tracing.core.ui.menu.RemoveTracePatternHandler"
            commandId="org.erlide.tracing.core.removetracepattern">
      </handler>
      <handler
            class="org.erlide.tracing.core.ui.menu.RemoveTracePatternWithNoArityHandler"
            commandId="org.erlide.tracing.core.removetracepatternwithnoarity">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.erlide.ui.preferences"
            class="org.erlide.tracing.core.preferences.TracingPreferencePage"
            id="org.erlide.tracing.core.preferences.TracingPreferencePage"
            name="Tracing">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.erlide.tracing.core.preferences.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
