<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.erlide.gunit.ui.TestRunnerViewPart"
            fastViewWidthRatio="0.40"
            id="org.erlide.testing.framework.ui.TestFrameworkTestRunnerViewPart"
            name="BTErl">
      </view>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.erlide.gunit.launcher.LaunchConfigurationDelegate"
            id="org.erlide.testing.framework.launcher.TestFrameworkLaunchConfigurationDelegate"
            modes="run, debug"
            name="BTErl">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.erlide.gunit.launcher.LaunchConfigurationTabGroup"
            id="org.erlide.testing.framework.launcher.TestFrameworkLaunchConfigurationTabGroup"
            type="org.erlide.testing.framework.launcher.TestFrameworkLaunchConfigurationDelegate">
      </launchConfigurationTabGroup>
   </extension>
</plugin>
