<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="builder"
         name="Dialyzer Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.erlide.core.internal.builder.DialyzerBuilder">
         </run></builder>
   </extension>

</plugin>
