<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="erlcbuilder"
         name="Erlide Make Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.erlide.erlc.builder.ErlcMakeBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="erlcnature"
         name="Erlide Make Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.erlide.erlc.builder.ErlcMakeNature">
         </run>
      </runtime>
      <builder
            id="org.erlide.erlc.erlcbuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="org.erlide.erlc.contribution1">
         <action
               label="Toggle Erlang Make Nature"
               class="org.erlide.erlc.ui.actions.ToggleNatureAction"
               menubarPath="additions"
               enablesFor="+"
               id="org.erlide.erlc.addRemoveNatureAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.erlide.erlc.ui.ErlcPreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.erlide.erlc.internal.ui.properties.MakePropertyPage"
            id="org.erlide.erlc.internal.ui.properties.erlcmakepropertypage"
            name="Erlc make properties"
            >
         <filter
               name="nature"
               value="org.erlide.erlc.erlcnature"/>
         <enabledWhen>
            <instanceof value="org.eclipse.core.resources.IProject"/>
         </enabledWhen>
      </page>
   </extension>

</plugin>
