<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
    <actionSet
          id="org.erlide.devtools.rpcstubgen"
          label="RPC Stub generator"
          visible="true">
       <menu
             id="org.erlide.devtools.rpcstubgen.menu"
             label="RPC Stub generator*">
       </menu>
       <action
             class="org.erlide.devtools.RpcStubGenAction"
             icon="icons/export_wiz.gif"
             id="org.erlide.devtools.rpcstubgen.action"
             label="Rpc stub gen"
             menubarPath="Run/ExternalTools"
             toolbarPath="Normal/rungroup">
       </action>
    </actionSet>
   </extension>

</plugin>
