#Fri Apr 18 11:54:07 CEST 2008
autotestsuite.class.exclusions=.*All(Tests|PDE_Tests|_Tests|PDETests).*
verboseAnt=-verbose
autotestsuite.trace=true
pluginbuilder.features=org.erlide
autotestsuite.class.inclusions=.*
pluginbuilder.is.svn=true
pluginbuilder.is.runtests=false
pluginbuilder.svn.url=https\://erlide.svn.sourceforge.net/svnroot/erlide/trunk
autotestsuite.plugin.inclusions=.*(test|tests)$
pluginbuilder.svn.password=bure99bista
pluginbuilder.svn.user=vladdu
pluginbuilder.is.cvs=false
pluginbuilder.is.copy=false
pluginbuilder.is.rcpbuild=false
