#Sat Feb 23 23:06:45 CET 2008
autotestsuite.class.exclusions=.*All(Tests|PDE_Tests|_Tests|PDETests).*
autotestsuite.trace=true
pluginbuilder.features=org.erlide
pluginbuilder.is.svn=true
autotestsuite.class.inclusions=.*
pluginbuilder.is.runtests=false
pluginbuilder.svn.url=https\://erlide.svn.sourceforge.net/svnroot/erlide/trunk
autotestsuite.plugin.inclusions=.*(test|tests)$
pluginbuilder.is.cvs=false
pluginbuilder.is.copy=false
pluginbuilder.is.rcpbuild=false
