<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Coverage Statistics"
            icon="icons/coverageView.gif"
            category="org.erlide.views"
            class="org.erlide.cover.ui.views.CoverStatsView"
            id="org.erlide.cover.core.views.TestResultView">
      </view>
      <view
            category="org.erlide.views"
            class="org.erlide.cover.ui.views.EUnitView"
            icon="icons/coverageView.gif"
            id="org.erlide.cover.ui.EUnitView"
            name="Test Results">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.erlide.cover.ui.launch.CoverTabGroup"
            id="org.erlide.cover.ui.launchConfigurationTabGroupCover"
            type="org.erlide.cover.core.launchConfigurationCover">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="org.erlide.cover.ui.fullCoverageAnnotation"
            colorPreferenceKey="fullCoverage_Color"
            colorPreferenceValue="220,255,220"
            contributesToHeader="false"
            highlightPreferenceKey="fullCoverage_Highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="fullCoverage_IsGoToNext"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="fullCoverage_IsGoToPrev"
            label="FullCoverage"
            overviewRulerPreferenceKey="fullCoverage_OvervierRuler"
            overviewRulerPreferenceValue="false"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="fullCoverage_ShowInNextPrevDropdown"
            textPreferenceKey="fullCoverage_Text"
            textPreferenceValue="true"
            textStylePreferenceKey="fullCoverage_TextStyle"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="fullCoverage_VerticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationType="org.erlide.cover.ui.noCoverageAnnotation"
            colorPreferenceKey="noCoverage_Color"
            colorPreferenceValue="255,200,200"
            contributesToHeader="false"
            highlightPreferenceKey="noCoverage_Highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="noCoverage_IsGoToNext"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="noCoverage_IsGoToPrev"
            label="NoCoverage"
            overviewRulerPreferenceKey="noCoverage_OverviewRuler"
            overviewRulerPreferenceValue="false"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="noCoverage_ShowInNextPrecDropnown"
            textPreferenceKey="noCoverage_Text"
            textPreferenceValue="false"
            textStylePreferenceKey="noCoerage_TextStyle"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="noCoverage_VerticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.erlide.cover.core.launchConfigurationCover"
            icon="icons/launch.gif"
            id="org.erlide.cover.ui.launchConfigurationTypeImageCover">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            name="org.erlide.cover.ui.fullCoverageAnnotation">
      </type>
      <type
            name="org.erlide.cover.ui.noCoverageAnnotation">
      </type>
   </extension>

</plugin>
