<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
       point="org.eclipse.ui.handlers">
     <handler
          class="org.erlide.dialyzer.ui.handlers.RunDialyzerHandler"
          commandId="org.erlide.ui.commands.runDialyzer">
    </handler>
    <handler
          class="org.erlide.dialyzer.ui.handlers.RemoveDialyzerWarningsHandler"
          commandId="org.erlide.ui.command.removeDialyzerWarnings">
    </handler>
</extension>

<extension
       point="org.eclipse.ui.commands">
       <command
             categoryId="org.erlide.ui.commandCategories.dialyzer"
             description="Run Dialyzer"
             id="org.erlide.ui.commands.runDialyzer"
             name="Run Dialyzer">
       </command>
       <command
             categoryId="org.erlide.ui.commandCategories.dialyzer"
             description="Remove Dialyzer Warnings"
             id="org.erlide.ui.command.removeDialyzerWarnings"
             name="Remove Dialyzer Warnings">
       </command>
       <command
             categoryId="org.erlide.ui.commandCategories.dialyzer"
             description="Check PLT"
             id="org.erlide.ui.command.checkDialyzerPLTFile"
             name="Check PLT">
       </command>
       <category
             description="Dialyzer Commands"
             id="org.erlide.ui.commandCategories.dialyzer"
             name="Dialyzer Commands">
       </category>
</extension>


<extension
       point="org.eclipse.ui.menus">
    <menuContribution
          locationURI="popup:org.erlide.ui.views.navigator.view#PopupMenu?after=additions">
       <command
             commandId="org.erlide.ui.commands.runDialyzer"
             style="push">
             <visibleWhen checkEnabled="false">
	          <iterate
                 ifEmpty="false"
                 operator="or">
	              <test
	                    property="org.eclipse.core.resources.projectNature"
	                    value="org.erlide.core.erlnature">
	              </test>
	          </iterate>
          	</visibleWhen>
       </command>
       <command
             commandId="org.erlide.ui.command.removeDialyzerWarnings"
             style="push">
             <visibleWhen checkEnabled="false">
	          <iterate
                 ifEmpty="false"
                 operator="or">
	             	<test
	                    property="org.eclipse.core.resources.projectNature"
	                    value="org.erlide.core.erlnature">
	              	</test>
	          </iterate>
         	 </visibleWhen>
       </command>
    </menuContribution>
    <menuContribution
          locationURI="menu:project?after=additions">
       <separator
             name="org.erlide.ui.separator1">
       </separator>
       <command
             commandId="org.erlide.ui.commands.runDialyzer"
             style="push">
          <visibleWhen
                checkEnabled="false">
             <iterate
                   ifEmpty="false"
                   operator="or">
                	<test
	                    property="org.eclipse.core.resources.projectNature"
	                    value="org.erlide.core.erlnature">
	              	</test>
             </iterate>
          </visibleWhen>
       </command>
       <command
             commandId="org.erlide.ui.command.removeDialyzerWarnings"
             style="push">
          <visibleWhen
                checkEnabled="false">
             <iterate
                   ifEmpty="false"
                   operator="or">
                	<test
	                    property="org.eclipse.core.resources.projectNature"
	                    value="org.erlide.core.erlnature">
	              	</test>
             </iterate>
          </visibleWhen>
       </command>
    </menuContribution>
</extension>
<extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="org.erlide.dialyzer.core.dialyzewarningmarker"
            name="org.erlide.dialyzer.ui.dialyzewarningmarkertype">
      </type>
</extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="org.erlide.dialyzer.ui.dialyzewarningmarkertype"
            colorPreferenceKey="dialyzewarningmarkerColor"
            colorPreferenceValue="255,150,150"
            highlightPreferenceKey="dialyzewarningmarkerHighlighting"
            highlightPreferenceValue="false"
            icon="icons/full/obj16/dialyzer_warning.gif"
            includeOnPreferencePage="true"
            label="Dialyzer Warning"
            overviewRulerPreferenceKey="dialyzewarningmarkerInOverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="3"
            textPreferenceKey="dialyzewarningmarker"
            textPreferenceValue="true"
            verticalRulerPreferenceKey="dialyzewarningmarkerInVerticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
</extension>
</plugin>
