/*andreas03.css*/
BODY
{
	margin: 0;
	padding: 30px 0;
	font: 0.8em tahoma, verdana, sans-serif;
	background: #047 url(img/bodybg.png) repeat-x fixed;
	color: #222;
}
#thetop
{
	margin: 0;
}
#container
{
	width: 720px;
	margin: 0 auto;
	padding: 20px 20px 0;
	background: #FFF url(img/contbg.png) no-repeat;
	color: #222;
}
A
{
	text-decoration: none;
	background-color: inherit;
	color: #26C;
}
A:hover
{
	text-decoration: underline;
}
A IMG
{
	border: 0;
}
P
{
	margin: 0 0 15px;
	line-height: 1.3em;
}
#main P, #sidebar P
{
	padding: 0 0 0 10px;
}
#logo
{
	float: left;
	width: 240px;
	margin: 0 20px 0 0;
	padding: 0 0 25px;
	background: #EEE;
	border: 4px solid #DDE;
	text-align: center;
	color: #555;
	overflow: auto;
}
#logo H1
{
	margin: 50px 5px 1px;
	font-family: Georgia, serif;
	font-weight: 800;
}
#logo A
{
	background-color: inherit;
	color: #26A;
	text-decoration: none;
}
#logo A:hover
{
	background-color: inherit;
	color: #69E;
}
#tagline
{
	text-align: center;
	font-size: 1.2em;
}
#intro P
{
	line-height: 1.3em;
}
#main
{
	float: left;
	width: 530px;
	margin-right: 20px;
	padding: 0;
}
CODE
{
	font: 76% courier;
	color: #336600;
}
.headerstyle
{
	display: block;
	margin: 30px 0 10px;
	padding: 5px 0 5px 8px;
	background: #EEE url(img/gradient2.png) repeat-x;
	color: #222;
	border-top: 1px solid #DDD;
	border-right: 1px solid #BBB;
	border-bottom: 1px solid #BBB;
	border-left: 1px solid #DDD;
	text-decoration: none;
}
#sidebar
{
	width: 155px;
	float: right;
	margin-top: 20px;
	font-size: 1em;
	line-height: 1.3em;
}
#sidebar P
{
	font-size: 0.9em;
}
ul.sidemenu {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.sidelinks {
    margin-left: 20px;
    padding: 0;
}
.sidelink
{
	display: block;
	width: 140px;
	margin: 3px 10px 2px 0;
	padding: 5px 0 5px 8px;
	font-size: 1.1em;
	font-weight: bold;
	text-align: left;
	background: #EEE url(img/gradient1.png) repeat-x;
	color: #26C;
	border-top: 1px solid #DDD;
	border-right: 1px solid #BBB;
	border-bottom: 1px solid #BBB;
	border-left: 1px solid #DDD;
}
.sidelink:hover, .menuheader
{
	background: #FFF url(img/gradient2.png) repeat-x;
	color: #222;
	border-top: 1px solid #DDD;
	border-right: 1px solid #888;
	border-bottom: 1px solid #888;
	border-left: 1px solid #DDD;
	text-decoration: none;
}
#footer
{
	margin: 0 auto 20px;
	width: 760px;
	background: #FFF url(img/footerbg.png) no-repeat bottom left;
	padding: 0 0 5px;
	font-size: 0.9em;
	color: #888;
	text-align: center;
}
H1, H2, H3, H4
{
	margin: 0 0 10px;
	font-weight: normal;
}
H1
{
	font-size: 2.8em;
}
H2
{
	margin: 0 0 4px;
	font-size: 1.8em;
}
H3
{
	margin: 20px 0 8px;
	font-size: 1.4em;
}
H4
{
	margin: 10px 0 5px;
	font-size: 1.2em;
}
.clear
{
	clear: both;
	margin: 0;
}
.right
{
	text-align: right;
}
.internallink
{
	font-size: 0.9em;
	text-align: center;
}
.block
{
	padding: 20px;
	background: #EEE;
	color: #222;
	border: 2px solid #DDD;
}
.credit
{
	color: #888;
	background-color: inherit;
}
.hide
{
	display: none;
}
SPAN.guimenu
{
	font-style: italic;
}
SPAN.guisubmenu
{
	font-style: italic;
}
SPAN.guimenuitem
{
	font-style: italic;
}
span._A80103 {
    color: #A80103;
}
span._5C4A95 {
    color: #5C4A95;
}
/*Original open source design by Andreas Viklund - http://andreasviklund.com
Released through OSWD.org*/
