h1 { font-size: 1.728em; margin: 0em; }

h2 { font-size: 1.44em; color: #404040; }
h2[class~="-title"] { margin-top: 1.728em; margin-bottom: 0em; }
h2[class~="-title"] + * { margin-top: 0.83em; }

h3 { font-size: 1.2em; }
h3[class~="-title"] { margin-top: 1.44em; margin-bottom: 0em; }
h3[class~="-title"] + * { margin-top: 0.83em; }

h4 { font-size: 1em; }
h4[class~="-title"] { margin-top: 1.2em; }
h4[class~="-title"] + * { margin-top: 0.83em; }

h5 { font-size: 1em; margin-top: 1em; }
h6 { font-size: 1em; margin-top: 1em; }
h7 { font-size: 1em; margin-top: 1em; }

div[class~="-title"] { font-weight: bold; color: #404040; }
div[class~="-title"] + * { margin-top: 0.83em; }
  
body { margin: 0px; }
div[class ~= "-body"] { margin: 12px; }

div {
  margin-top: 0em;  margin-bottom: 0em;
  padding-top: 0em; padding-bottom: 0em;
}
p {
  margin-top: 0em;  margin-bottom: 0em;
  padding-top: 0em; padding-bottom: 0em;
}
div + * { margin-top: 1.2em; }
p   + * { margin-top: 1.2em; }
p &gt; div { margin-top: 1.2em; }
p { text-align: justify; }

*[class~="-block-indent"] {
  margin-left: 1.44em;
  margin-right: 1.44em;
}
div[class~="-admonition"] {
  padding: 8px;
  padding-left: 64px;
  border: solid 2px #F79537;
  background: #FFFBF7 url(emblem-important.png) no-repeat 8px 8px;
  -moz-border-radius: 12px;
}
pre[class~="-programlisting"] {
  background: url(programlisting.png) no-repeat top right;
  border: solid 2px #F0F0F0;
  -moz-border-radius: 4px;
  padding: 8px;
}
div[class~="-blockquote"] {
  background: url(yelp-watermark-blockquote-201C.png) no-repeat;
  padding-left: 32px;
  max-width: 80%;
  min-height: 64px;
}
div[class~="-attribution"] {
  margin-left: 1.44em;
}

div[class~="-autotoc"] {
  margin: 0em;
  padding: 0em;
}
ul[class~="-autotoc"] {
  margin-left: 1.2em;
  padding: 0em;
}
ul[class~="-autotoc"] li {
  margin: 0em;
  padding: 0em;
  list-style-type: none;
}
ul[class~="-autotoc"] a {
  text-decoration: none;
}

/* header */
div[class~="-header"] {
  background: #5083B2 url(bg-header.png) repeat-x;
  color: #FFFFFF;
  text-align: center;
  font-weight: bold;
  margin: 10px;
  padding: 8px;
  -moz-border-radius: 8px;
}
div[class~="-header"] a {
  color: #FFFFFF;
  text-decoration: none;
}
div[class~="-header"] a:hover {
  border-bottom: solid 1px;
}
div[class~="-header"] a img {
  border: none;
  vertical-align: middle;
}

/* footer */
div[class~="-footer"] {
  background: #5083B2 url(bg-footer.png) bottom repeat-x;
  color: #FFFFFF;
  text-align: center;
  font-weight: bold;
  margin: 10px;
  padding: 8px;
  -moz-border-radius: 8px;
}
div[class~="-footer"] a {
  color: #FFFFFF;
  text-decoration: none;
}
div[class~="-footer"] a:hover {
  border-bottom: solid 1px;
}
div[class~="-footer"] a img {
  border: none;
  vertical-align: middle;
}

/* header-icon */
div[class~="-header-icon"] {
  position: absolute;
  right: 20px;
  top: 16px;
}
div[class~="-header-icon"] a {
  text-decoration: none;
}
div[class~="-header-icon"] a:hover {
  text-decoration: none;
  border-bottom: 0px;
}

/* linktrail */
div[class~="-linktrail"] {
  font-style: oblique;
  margin: 4px;
}

/* navbar */
div[class ~= "-navbar"] {
  margin: 0;
}
div[class ~= "-navbar-prev"] {
  padding: 0px;
  float: left;
}
div[class ~= "-navbar-prev-sans-next"] {
  float: none;
}
div[class ~= "-navbar-next"] {
  margin: 0px;
  padding: 0px;
  text-align: right;
}
a[class~="-navbar-prev"] img {
  padding-right: 0.667em;
}
a[class~="-navbar-next"] img {
  padding-left: 0.667em;
}

