<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="codepath" name="codepath" schema="schema/codepath.exsd"/>
   <extension-point id="backend" name="backend" schema="schema/backend.exsd"/>
   <extension
         point="org.erlide.backend.backend">
      <provider
            class="org.erlide.backend.internal.OtpRpcProvider">
      </provider>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.erlide.backend.launch.ErlangLaunchDelegate"
            delegateName="Erlang application"
            id="org.erlide.backend.erlangProcess"
            modes="run, debug"
            name="Erlang application"
            public="true"
            sourceLocatorId="org.erlide.backend.erlangLocatorDirector"
            sourcePathComputerId="org.erlide.backend.sourcepathcomputer">
      </launchConfigurationType>
      <launchConfigurationType
            delegate="org.erlide.backend.launch.ErlangLaunchDelegate"
            id="org.erlide.backend.internalProcess"
            modes="run"
            name="internal Erlang node"
            public="false"
            sourceLocatorId="org.erlide.backend.erlangLocatorDirector"
            sourcePathComputerId="org.erlide.backend.sourcepathcomputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourcePathComputers">
      <sourcePathComputer
            class="org.erlide.backend.launch.ErlangSourcePathComputerDelegate"
            id="org.erlide.backend.sourcepathcomputer">
      </sourcePathComputer>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            class="org.erlide.backend.launch.ErlangSourceLookupDirector"
            id="org.erlide.backend.erlangLocatorDirector"
            name="Erlang source locator">
      </sourceLocator>
   </extension>
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            class="org.erlide.backend.debug.ErlangLineBreakpoint"
            id="erlang.lineBreakpoint"
            markerType="org.erlide.core.erlang.lineBreakpoint.marker"
            name="%erlangLineBreakpoint.name">
      </breakpoint>
   </extension>
</plugin>
