<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="messageReporter" name="messageReporter" schema="schema/messageReporter.exsd"/>
   <extension-point id="codepath" name="codepath" schema="schema/codepath.exsd"/>
   <extension
         point="org.erlide.runtime.backend">
      <provider
            class="org.erlide.backend.internal.BackendProvider">
      </provider>
   </extension>
</plugin>
