<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.erlide.basicui.prefs.ErlangPreferencePage"
            id="org.erlide.ui.preferences"
            name="Erlang"/>
      <page
            category="org.erlide.ui.preferences"
            class="org.erlide.basicui.prefs.RuntimesPreferencePage"
            id="org.erlide.ui.preferences.test"
            name="%installErtsPageName">
      </page>
      <page
            category="org.erlide.ui.preferences"
            class="org.erlide.basicui.prefs.ReportPreferencePage"
            id="org.erlide.basic.reporting"
            name="Report problems">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.erlide.categories.views"
            name="Erlang"/>
      <view
            category="org.erlide.categories.views"
            class="org.erlide.basicui.views.ErlLoggerView"
            icon="icons/sample.gif"
            id="org.erlide.basic.views.ErlLoggerView"
            name="Erlang Logger"/>
   </extension>

</plugin>
