<project>
<actions/>
<description>Build from the <b>vlad_pu</b> branch.</description>
<logRotator>
<daysToKeep>-1</daysToKeep>
<numToKeep>30</numToKeep>
<artifactDaysToKeep>-1</artifactDaysToKeep>
<artifactNumToKeep>10</artifactNumToKeep>
</logRotator>
<keepDependencies>true</keepDependencies>
<properties/>
<scm class="hudson.plugins.git.GitSCM">
<configVersion>2</configVersion>
<userRemoteConfigs>
<hudson.plugins.git.UserRemoteConfig>
<name>origin</name>
<refspec>+refs/heads/*:refs/remotes/origin/*</refspec>
<url>git://github.com/vladdu/erlide.git</url>
</hudson.plugins.git.UserRemoteConfig>
</userRemoteConfigs>
<branches>
<hudson.plugins.git.BranchSpec>
<name>pu</name>
</hudson.plugins.git.BranchSpec>
</branches>
<disableSubmodules>false</disableSubmodules>
<recursiveSubmodules>false</recursiveSubmodules>
<doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
<authorOrCommitter>true</authorOrCommitter>
<clean>true</clean>
<wipeOutWorkspace>false</wipeOutWorkspace>
<pruneBranches>false</pruneBranches>
<remotePoll>true</remotePoll>
<buildChooser class="hudson.plugins.git.util.DefaultBuildChooser"/>
<gitTool>Default</gitTool>
<submoduleCfg class="list"/>
<relativeTargetDir/>
<reference/>
<excludedRegions/>
<excludedUsers/>
<gitConfigName/>
<gitConfigEmail/>
<skipTag>false</skipTag>
<scmName/>
</scm>
<canRoam>true</canRoam>
<disabled>false</disabled>
<blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
<blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
<triggers class="vector">
<com.cloudbees.jenkins.GitHubPushTrigger>
<spec/>
</com.cloudbees.jenkins.GitHubPushTrigger>
</triggers>
<concurrentBuild>false</concurrentBuild>
<builders>
<hudson.tasks.Shell>
<command>
rm -rf ${WORKSPACE}/buckminster.output rm -rf ${WORKSPACE}/buckminster.temp bash -ex org.erlide.site/build ${WORKSPACE} ${JAVA_HOME} ${erlang_R13} ${erlang_R14} ${BUCKMINSTER} ${TARGET} bash -ex org.erlide.site/test_unit ${WORKSPACE} ${JAVA_HOME} ${erlang_R13} ${erlang_R14} ${BUCKMINSTER} ${TARGET} #bash -ex org.erlide.site/test_integration ${WORKSPACE} ${JAVA_HOME} ${erlang_R13} ${erlang_R14} ${BUCKMINSTER} ${TARGET} #/home/vlad/oh-count/bin/ohcount > ${WORKSPACE}/ohcount.txt #ls $WORKSPACE/releng/ebin
</command>
</hudson.tasks.Shell>
</builders>
<publishers>
<hudson.plugins.warnings.WarningsPublisher>
<healthy/>
<unHealthy/>
<thresholdLimit>low</thresholdLimit>
<pluginName>[WARNINGS]</pluginName>
<defaultEncoding/>
<canRunOnFailed>false</canRunOnFailed>
<useDeltaValues>false</useDeltaValues>
<thresholds>
<unstableTotalAll/>
<unstableTotalHigh/>
<unstableTotalNormal/>
<unstableTotalLow/>
<unstableNewAll/>
<unstableNewHigh/>
<unstableNewNormal/>
<unstableNewLow/>
<failedTotalAll/>
<failedTotalHigh/>
<failedTotalNormal/>
<failedTotalLow/>
<failedNewAll/>
<failedNewHigh/>
<failedNewNormal/>
<failedNewLow/>
</thresholds>
<shouldDetectModules>false</shouldDetectModules>
<dontComputeNew>false</dontComputeNew>
<parserConfigurations/>
<consoleLogParsers>
<string>Buckminster Compiler</string>
</consoleLogParsers>
</hudson.plugins.warnings.WarningsPublisher>
<hudson.plugins.tasks.TasksPublisher>
<healthy/>
<unHealthy/>
<thresholdLimit>low</thresholdLimit>
<pluginName>[TASKS]</pluginName>
<defaultEncoding/>
<canRunOnFailed>false</canRunOnFailed>
<useDeltaValues>false</useDeltaValues>
<thresholds>
<unstableTotalAll/>
<unstableTotalHigh/>
<unstableTotalNormal/>
<unstableTotalLow/>
<unstableNewAll/>
<unstableNewHigh/>
<unstableNewNormal/>
<unstableNewLow/>
<failedTotalAll/>
<failedTotalHigh/>
<failedTotalNormal/>
<failedTotalLow/>
<failedNewAll/>
<failedNewHigh/>
<failedNewNormal/>
<failedNewLow/>
</thresholds>
<shouldDetectModules>false</shouldDetectModules>
<dontComputeNew>false</dontComputeNew>
<high>FIXME</high>
<normal>TODO</normal>
<low>XXX</low>
<ignoreCase>false</ignoreCase>
<pattern>**/*.java, **/*.erl</pattern>
<excludePattern/>
</hudson.plugins.tasks.TasksPublisher>
<hudson.plugins.analysis.collector.AnalysisPublisher>
<healthy/>
<unHealthy/>
<thresholdLimit>low</thresholdLimit>
<pluginName>[ANALYSIS-COLLECTOR]</pluginName>
<defaultEncoding/>
<canRunOnFailed>true</canRunOnFailed>
<useDeltaValues>false</useDeltaValues>
<thresholds>
<unstableTotalAll/>
<unstableTotalHigh/>
<unstableTotalNormal/>
<unstableTotalLow/>
<unstableNewAll/>
<unstableNewHigh/>
<unstableNewNormal/>
<unstableNewLow/>
<failedTotalAll/>
<failedTotalHigh/>
<failedTotalNormal/>
<failedTotalLow/>
<failedNewAll/>
<failedNewHigh/>
<failedNewNormal/>
<failedNewLow/>
</thresholds>
<shouldDetectModules>false</shouldDetectModules>
<dontComputeNew>false</dontComputeNew>
<isCheckStyleDeactivated>true</isCheckStyleDeactivated>
<isDryDeactivated>true</isDryDeactivated>
<isFindBugsDeactivated>true</isFindBugsDeactivated>
<isPmdDeactivated>true</isPmdDeactivated>
<isOpenTasksDeactivated>false</isOpenTasksDeactivated>
<isWarningsDeactivated>false</isWarningsDeactivated>
</hudson.plugins.analysis.collector.AnalysisPublisher>
<hudson.tasks.ArtifactArchiver>
<artifacts>
buckminster.output/org.erlide.site_*/site/**/*,buckminster.output/org.erlide.site_*/site.p2/**/*
</artifacts>
<latestOnly>false</latestOnly>
</hudson.tasks.ArtifactArchiver>
<hudson.tasks.junit.JUnitResultArchiver>
<testResults>output/junit_result_*.xml,output/TEST-*.xml</testResults>
<keepLongStdio>false</keepLongStdio>
<testDataPublishers/>
</hudson.tasks.junit.JUnitResultArchiver>
<hudson.plugins.emma.EmmaPublisher>
<includes>
output/coverage_report_jinterface.xml;output/coverage_report_core.xml
</includes>
<healthReports>
<minClass>0</minClass>
<maxClass>100</maxClass>
<minMethod>0</minMethod>
<maxMethod>70</maxMethod>
<minBlock>0</minBlock>
<maxBlock>80</maxBlock>
<minLine>0</minLine>
<maxLine>80</maxLine>
</healthReports>
</hudson.plugins.emma.EmmaPublisher>
</publishers>
<buildWrappers>
<hudson.plugins.build__timeout.BuildTimeoutWrapper>
<timeoutMinutes>15</timeoutMinutes>
<failBuild>true</failBuild>
</hudson.plugins.build__timeout.BuildTimeoutWrapper>
<hudson.plugins.xvnc.Xvnc>
<takeScreenshot>false</takeScreenshot>
</hudson.plugins.xvnc.Xvnc>
<hudson.plugins.setenv.SetEnvBuildWrapper>
<localVarText>
JAVA_HOME=/home/vlad/erlide/jdk1.6.0_26 JAVA_BASE=/home/vlad/erlide/jdk1.6.0_26 erlang_R14=/home/vlad/erlide/otp_src_R14B04 erlang_R13=/home/vlad/erlide/otp_src_R13B04 BUCKMINSTER=/home/vlad/erlide/buckminster TARGET=/home/vlad/erlide/eclipse_target/e36/eclipse ERLIDE=/home/vlad/erlide
</localVarText>
</hudson.plugins.setenv.SetEnvBuildWrapper>
</buildWrappers>
</project>
