<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="org.erlide.wranglerrefactoring.erlideContributor"
            targetID="org.erlide.ui.editors.erl.ErlangEditor">
         <menu
               id="org.erlide.wranglerrefactoring.refactormenu"
               label="%RefactoringMenu_Label"
               path="edit">
            <groupMarker
                  name="org.erlide.wranglerrefactoring.renameGroup">
            </groupMarker>
            <separator
                  name="org.erlide.wranglerrefactoring.separator1">
            </separator>
            <groupMarker
                  name="org.erlide.wranglerrefactoring.searchGroup">
            </groupMarker>
            <separator
                  name="org.erlide.wrangler.refactoring.separator2">
            </separator>
            <groupMarker
                  name="org.erlide.wranglerrefactoring.reorganizeFunctionGroup">
            </groupMarker>
            <separator
                  name="org.erlide.wranglerrefactoring.separator3">
            </separator>
            <groupMarker
                  name="org.erlide.wranglerrefactoring.tupleGroup">
            </groupMarker>
         </menu>
         <action
               class="org.erlide.wrangler.refactoring.core.renamevariable.RenameVariableAction"
               definitionId="org.erlide.wrangler.refactoring.renameVariable"
               enablesFor="?"
               id="org.erlide.wranglerrefactoring.renamevariable"
               label="%renameVariableName"
               menubarPath="org.erlide.wranglerrefactoring.refactormenu/org.erlide.wranglerrefactoring.renameGroup">
         </action>
         <action
               class="org.erlide.wrangler.refactoring.core.renamefunction.RenameFunctionAction"
               definitionId="org.erlide.wrangler.refactoring.renameFunction"
               enablesFor="?"
               id="org.erlide.wranglerrefactoring.renamefunction"
               label="%renameFunctionName"
               menubarPath="org.erlide.wranglerrefactoring.refactormenu/org.erlide.wranglerrefactoring.renameGroup">
         </action>
         <action
               class="org.erlide.wrangler.refactoring.core.renameprocess.RenameProcessAction"
               id="org.erlide.wranglerrefactoring.renameprocess"
               label="%renameProcessName"
               menubarPath="org.erlide.wranglerrefactoring.refactormenu/org.erlide.wranglerrefactoring.renameGroup">
         </action>
         <action
               class="org.erlide.wrangler.refactoring.core.renamemodule.RenameModuleAction"
               definitionId="org.erlide.wrangler.refactoring.renameModule"
               id="org.erlide.wranglerrefactoring.renamemodule"
               label="%renameModuleName"
               menubarPath="org.erlide.wranglerrefactoring.refactormenu/org.erlide.wranglerrefactoring.renameGroup">
         </action>
         <action
               class="org.erlide.wrangler.refactoring.core.generalise.GeneraliseAction"
               enablesFor="+"
               id="org.erlide.wranglerrefactoring.generalise"
               label="%generaliseName"
               menubarPath="org.erlide.wranglerrefactoring.refactormenu/org.erlide.wranglerrefactoring.reorganizeFunctionGroup">
         </action>
         <action
               class="org.erlide.wrangler.refactoring.core.funextraction.FunExtractionAction"
               enablesFor="+"
               id="org.erlide.wranglerrefactoring.funExtraction"
               label="%funExtractionName"
               menubarPath="org.erlide.wranglerrefactoring.refactormenu/org.erlide.wranglerrefactoring.reorganizeFunctionGroup">
         </action>
         <action
               class="org.erlide.wrangler.refactoring.core.foldexpression.FoldExpressionAction"
               id="org.erlide.wranglerrefactoring.foldexpressio"
               label="%foldExpressionName"
               menubarPath="org.erlide.wranglerrefactoring.refactormenu/org.erlide.wranglerrefactoring.reorganizeFunctionGroup">
         </action>
         <action
               class="org.erlide.wrangler.refactoring.core.movefunction.MoveFunctionAction"
               definitionId="org.erlide.wrangler.refactoring.moveFunction"
               enablesFor="?"
               id="org.erlide.wranglerrefactoring.movefunction"
               label="%moveFunctionName"
               menubarPath="org.erlide.wranglerrefactoring.refactormenu/org.erlide.wranglerrefactoring.reorganizeFunctionGroup">
         </action>
         <action
               class="org.erlide.wrangler.refactoring.core.functiontoprocess.FunctionToProcessAction"
               id="org.erlide.wranglerrefactoring.functiontoprocess"
               label="%funToProcessName"
               menubarPath="org.erlide.wranglerrefactoring.refactormenu/org.erlide.wranglerrefactoring.reorganizeFunctionGroup"
               style="push">
         </action>
         <action
               class="org.erlide.wrangler.refactoring.core.tupleparameters.TupleParametersAction"
               enablesFor="?"
               id="org.erlide.wranglerrefactoring.tuplefunctonparameters"
               label="%tupleFunParamsName"
               menubarPath="org.erlide.wranglerrefactoring.refactormenu/org.erlide.wranglerrefactoring.tupleGroup">
         </action>
         <!-- Experimental
         <action
               class="org.erlide.wrangler.refactoring.core.tupletorecord.TupleToRecordAction"
               enablesFor="+"
               id="org.erlide.wranglerrefactoring.tupletorecord"
               label="%tupleToRecordName"
               menubarPath="org.erlide.wranglerrefactoring.refactormenu/org.erlide.wranglerrefactoring.tupleGroup">
         </action>
         -->
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.erlide.wrangler.refactoring.renameVariable"
            contextId="org.erlide.ui.erlangEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+R V">
      </key>
      <key
            commandId="org.erlide.wrangler.refactoring.renameFunction"
            contextId="org.erlide.ui.erlangEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+R F">
      </key>
      <key
            commandId="org.erlide.wrangler.refactoring.renameModule"
            contextId="org.erlide.ui.erlangEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+R M">
      </key>
      <key
            commandId="org.erlide.wrangler.refactoring.moveFunction"
            contextId="org.erlide.ui.erlangEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+V F">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.erlide.wrangler.refactoring"
            name="Refactoring">
      </category>
      <command
            categoryId="org.erlide.wrangler.refactoring"
            id="org.erlide.wrangler.refactoring.renameVariable"
            name="Rename variable">
      </command>
      <command
            categoryId="org.erlide.wrangler.refactoring"
            id="org.erlide.wrangler.refactoring.renameFunction"
            name="Rename function">
      </command>
      <command
            categoryId="org.erlide.wrangler.refactoring"
            id="org.erlide.wrangler.refactoring.renameModule"
            name="Rename module">
      </command>
      <command
            categoryId="org.erlide.wrangler.refactoring"
            id="org.erlide.wrangler.refactoring.moveFunction"
            name="Move function">
      </command>
   </extension>

</plugin>
