<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="codepath" name="codepath" schema="schema/codepath.exsd"/>
   <extension
         point="org.erlide.jinterface.codepath">
      <bundle_dir
            path="/ebin">
      </bundle_dir>
   </extension>
</plugin>
