<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="foldingStructureProviders" name="%foldingStructureProvidersExtensionPoint" schema="schema/foldingStructureProviders.exsd"/>

     <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.erlide.ui.editors.erl.ErlangEditor"
            contributorClass="org.erlide.ui.editors.erl.ErlEditorActionBarContributor"
            default="true"
            extensions="erl,hrl"
            icon="icons/erlang_srcFile.gif"
            id="org.erlide.ui.editors.erl.ErlangEditor"
            name="%ErlangEditor.label"
            symbolicFontName="org.eclipse.jface.textfont">
         <contentTypeBinding contentTypeId="org.erlide.core.content.erlang"/>
      </editor>
      <editor
            class="org.erlide.ui.editors.scratch.ScratchEditor"
            contributorClass="org.erlide.ui.editors.erl.ErlEditorActionBarContributor"
            extensions="erlscratch"
            icon="icons/erlang_srcFile.gif"
            id="org.erlide.ui.editors.erl.ErlangScratchEditor"
            name="Erlang Scratch editor"
            symbolicFontName="org.eclipse.jface.textfont">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Erlang"
            id="org.erlide.ui.wizards.newWizards">
      </category>
      <wizard
            category="org.erlide.ui.wizards.newWizards"
            class="org.erlide.ui.wizards.NewErlangProject"
            finalPerspective="org.erlide.ui.perspectives.ErlangPerspective"
            hasPages="true"
            icon="icons/newproject.png"
            id="org.erlide.ui.wizards.newproject"
            name="Erlang Project"
            project="true">
         <description>
            Create an Erlang project.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IResource"
            adaptable="true"
            id="org.erlide.ui.popupMenu">
         <filter
               name="projectNature"
               value="erlidenature">
         </filter>
      </objectContribution>
      <viewerContribution
            id="org.erlide.ui.viewerContribution2"
            targetID="org.erlide.ui.viewerContribution2">
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Syntax coloring"
            category="org.erlide.ui.preferences.editor"
            class="org.erlide.ui.prefs.plugin.ColoringPreferencePage"
            id="org.erlide.ui.preferences.editor.coloring">
      </page>
      <page
            name="Editor"
            category="org.erlide.ui.preferences"
            class="org.erlide.ui.prefs.plugin.EditorPreferencePage"
            id="org.erlide.ui.preferences.editor">
      </page>
      <page
            name="%editorFoldingPage"
            category="org.erlide.ui.preferences.editor"
            class="org.erlide.ui.prefs.plugin.FoldingPreferencePage"
            id="org.erlide.ui.preferences.editor.folding">
      </page>
      <page
            category="org.erlide.ui.preferences.editor"
            class="org.erlide.ui.prefs.plugin.IndentationPreferencePage"
            id="org.erlide.ui.preferences.indentation"
            name="Indentation">
      </page>
      <page
            category="org.erlide.ui.preferences.editor"
            class="org.erlide.ui.prefs.plugin.SmartTypingPreferencePage"
            id="org.erlide.ui.preferences.smartTyping"
            name="%editorSmartTypingPage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.erlide.categories.views"
            class="org.erlide.ui.views.modules.ModuleNavigator"
            icon="icons/modulenavigator.gif"
            id="org.erlide.ui.views.modulenavigator"
            name="Module Navigator">
      </view>
      <view
            allowMultiple="false"
            category="org.erlide.categories.views"
            class="org.erlide.ui.views.processlist.ProcessListView"
            icon="icons/erl/erlang-notext016.gif"
            id="org.erlide.ui.views.processlist.ProcessListView"
            name="Process list view">
      </view>
      <view
            category="org.erlide.categories.views"
            class="org.erlide.ui.views.eval.LiveExpressionsView"
            icon="icons/erl/erlang-notext016.gif"
            id="org.erlide.ui.views.eval.LiveExpressionsView"
            name="Live Expressions"/>
      <view
            category="org.erlide.categories.views"
            class="org.erlide.ui.views.TraceLogView"
            icon="icons/erl/erlang-notext016.gif"
            id="org.erlide.ui.views.TraceLogView"
            name="Trace Log View"/>
      <view
            allowMultiple="false"
            category="org.erlide.categories.views"
            class="org.erlide.ui.views.EdocView"
            icon="icons/erl/erlang-notext016.gif"
            id="org.erlide.ui.views.EdocView"
            name="Edoc"/>
      <view
            allowMultiple="false"
            category="org.erlide.categories.views"
            class="org.erlide.ui.views.console.ErlangConsoleView"
            icon="icons/erl/erlang-notext016.gif"
            id="org.erlide.ui.views.console"
            name="Erlang console"/>
      <view
            allowMultiple="false"
            category="org.erlide.categories.views"
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/erl/erlang-notext016.gif"
            id="org.erlide.ui.views.navigator.view"
            name="Erlang Navigator">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.erlide.ui.perspectives.ErlangPerspective"
            icon="icons/perspective.gif"
            id="org.erlide.ui.perspectives.ErlangPerspective"
            name="Erlang">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.erlide.ui.perspectives.ErlangPerspective">
         <perspectiveShortcut id="org.eclipse.ui.resourcePerspective"/>
         <perspectiveShortcut id="org.erlide.ui.perspectives.ErlangPerspective"/>
         <actionSet
               id="org.eclipse.debug.ui.debugActionSet">
         </actionSet>
         <actionSet
               id="org.eclipse.debug.ui.launchActionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.erlide.ui.prefs.PreferencesInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.erlide.ui.properties.OldErlProjectPropertyPage"
            id="org.erlide.ui.properties.erlangProjectPropertyPage"
            name="Erlang properties">
         <filter
               name="nature"
               value="org.erlide.core.erlnature"/>
      </page>
      <page
            class="org.erlide.ui.properties.ErlProjectPropertyPage"
            id="org.erlide.ui.properties.myErlangProjectPropertyPage"
            name="new Erlang properties (work in progress)">
         <filter
               name="nature"
               value="org.erlide.core.erlnature"/>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="org.erlide.ui.actions.togglenature">
         <action
               class="org.erlide.ui.actions.ToggleNatureAction"
               enablesFor="1"
               id="org.erlide.ui.addRemoveNatureAction"
               label="Toggle Erlang nature"
               menubarPath="additions">
         </action>
      </objectContribution>
      <viewerContribution
            id="org.erlide.ui.viewerContribution1"
            targetID="org.erlide.ui.viewerContribution1">
      </viewerContribution>
   </extension>
  <extension
         point="org.eclipse.ui.newWizards">
    <wizard
          category="org.erlide.ui.wizards.newWizards"
          class="org.erlide.ui.erlangsource.wizards.ErlangFileWizard"
          icon="icons/erlang_NewModule.png"
          id="org.erlide.ui.wizards.ErlangSourceFile"
          name="Module">
      </wizard>
     </extension>
     <extension
         point="org.eclipse.ui.preferencePages">
       <page
            name="Code Templates"
            category="org.erlide.ui.preferences"
      class="org.erlide.ui.erlangsource.prefs.ErlangSourcePreferencePage"
            id="org.erlide.ui.preferences.codetemplate"/>
       <page
             category="org.erlide.ui.preferences"
             class="org.erlide.ui.properties.ErlProjectPropertyPage"
             id="org.erlide.ui.properties.myErlangProjectPropertyPage"
             name="new Erlang project default properties">
       </page>
      <page
            category="org.erlide.ui.preferences"
            class="org.erlide.ui.prefs.InstallationsPreferencePage"
            id="org.erlide.ui.preferences.runtimes"
            name="ERTS installations">
      </page>
       <page
             category="org.erlide.ui.preferences.runtimes"
             class="org.erlide.ui.prefs.RuntimePreferencePage"
             id="org.erlide.ui.preferences.backends"
             name="Runtimes">
       </page>
  </extension>
  <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            name="Comments"
            class="org.erlide.ui.erlangsource.templates.ErlangSourceContextTypeComment"
            id="org.erlide.ui.erlangsource.template.context.generate">
      </contextType>
      <contextType
            name="Behaviours"
            class="org.erlide.ui.erlangsource.templates.ErlangSourceContextTypeBehaviour"
            id="org.erlide.ui.erlangsource.template.context.behaviour">
      </contextType>
      <contextType
            name="Layout"
            class="org.erlide.ui.erlangsource.templates.ErlangSourceContextTypeLayout"
            id="org.erlide.ui.erlangsource.template.context.layout">
      </contextType>
      <resolver
            name="Erlangs Module"
            type="module"
            description="%variableResolverModule"
            contextTypeId="org.erlide.ui.erlangsource.template.context.behaviour"
            class="org.erlide.ui.erlangsource.templates.ModuleVariableResolver">
      </resolver>
      <resolver
            name="Local Functions"
            type="local_functions"
            description="%variableResolverLocalFunctions"
            contextTypeId="org.erlide.ui.erlangsource.template.context.behaviour"
            class="org.erlide.ui.erlangsource.templates.LocalFunctionsVariableResolver">
      </resolver>
            <resolver
            name="Erlangs Module"
            type="module"
            description="%variableResolverModule"
            contextTypeId="org.erlide.ui.erlangsource.template.context.layout"
            class="org.erlide.ui.erlangsource.templates.ModuleVariableResolver">
      </resolver>
      <resolver
            name="Local Functions"
            type="local_functions"
            description="%variableResolverLocalFunctions"
            contextTypeId="org.erlide.ui.erlangsource.template.context.layout"
            class="org.erlide.ui.erlangsource.templates.LocalFunctionsVariableResolver">
      </resolver>
      <resolver
            name="File Comment"
            type="file_comment"
            description="%variableResolverFileComment"
            contextTypeId="org.erlide.ui.erlangsource.template.context.layout"
            class="org.erlide.ui.erlangsource.templates.FileCommentVariableResolver">
      </resolver>
      <resolver
            name="File Comment"
            type="file_comment"
            description="%variableResolverFileComment"
            contextTypeId="org.erlide.ui.erlangsource.template.context.behaviour"
            class="org.erlide.ui.erlangsource.templates.FileCommentVariableResolver">
      </resolver>
      <resolver
            name="Exported Functions"
            type="exported_functions"
            description="%variableResolverExportedFunctions"
            contextTypeId="org.erlide.ui.erlangsource.template.context.layout"
            class="org.erlide.ui.erlangsource.templates.ExportedFunctionsVariableResolver">
      </resolver>
      <resolver
            name="Exported Functions"
            type="exported_functions"
            description="%variableResolverExportedFunctions"
            contextTypeId="org.erlide.ui.erlangsource.template.context.behaviour"
            class="org.erlide.ui.erlangsource.templates.ExportedFunctionsVariableResolver">
      </resolver>
      <resolver
            name="Exports"
            type="exports"
            description="%variableResolverExports"
            contextTypeId="org.erlide.ui.erlangsource.template.context.layout"
            class="org.erlide.ui.erlangsource.templates.ExportsVariableResolver">
      </resolver>
      <resolver
            name="Exports"
            type="exports"
            description="%variableResolverExports"
            contextTypeId="org.erlide.ui.erlangsource.template.context.behaviour"
            class="org.erlide.ui.erlangsource.templates.ExportsVariableResolver">
      </resolver>
      <resolver
            name="Function Name"
            type="function_name"
            description="%variableResolverFunctionName"
            contextTypeId="org.erlide.ui.erlangsource.template.context.layout"
            class="org.erlide.ui.erlangsource.templates.FunctionNameVariableResolver">
      </resolver>
      <resolver
            name="Arguments"
            type="arguments"
            description="%variableResolverArguments"
            contextTypeId="org.erlide.ui.erlangsource.template.context.layout"
            class="org.erlide.ui.erlangsource.templates.ArgumentsVariableResolver">
      </resolver>
      <resolver
            name="Body"
            type="body"
            description="%variableResolverBody"
            contextTypeId="org.erlide.ui.erlangsource.template.context.layout"
            class="org.erlide.ui.erlangsource.templates.BodyVariableResolver">
      </resolver>
      <include
          file="templates/comment-templates.xml"
          translations="templates/template.properties">
      </include>
      <include
          file="templates/behaviour-templates.xml"
          translations="templates/template.properties">
      </include>
      <include
          file="templates/layout-templates.xml"
          translations="templates/template.properties">
      </include>
   </extension>
 <extension
       point="org.eclipse.ui.contexts">
    <context
          id="org.erlide.ui.erlangEditorScope"
          name="Erlang Editor"
          parentId="org.eclipse.ui.textEditorScope"/>
 </extension>
 <extension
       point="org.erlide.ui.foldingStructureProviders">
    <provider
          class="org.erlide.ui.internal.folding.DefaultErlangFoldingStructureProvider"
          id="org.erlide.ui.editors.defaultFoldingProvider"
          name="%defaultFoldingStructureProviderName"
          preferencesClass="org.erlide.ui.internal.folding.DefaultErlangFoldingPreferenceBlock"/>
 </extension>
 <extension
       point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    <launchConfigurationTypeImage
          configTypeID="org.erlide.core.launch.erlangProcess"
          icon="icons/erl/erlang-notext016.gif"
          id="org.erlide.ui.launch.launchConfigurationTypeImage.erlangNode"/>
 </extension>
 <extension
       point="org.eclipse.ui.commands">
      <command
            name="Show tooltip content"
            description="Show tooltip content"
            categoryId="org.eclipse.ui.category.edit"
            id="org.erlide.ui.actions.showEDoc">
      </command>
      <command
            categoryId="org.eclipse.ui.category.navigate"
            id="org.erlide.ui.actions.open.editor"
            name="open editor"/>
      <command
            id="org.erlide.ui.actions.console.input"
            name="Erlang console 1"/>
      <command
            id="org.erlide.ui.actions.indent"
            name="Indent code"/>
      <command
            id="org.erlide.ui.actions.show.outline"
            name="Show outline"/>
      <command
            id="org.erlide.ui.actions.togglecomment"
            name="Toggle Comment"/>
      <command
            id="org.erlide.ui.actions.test"
            name="Test">
      </command>
            
 </extension>
 <extension
       point="org.eclipse.ui.bindings">
       <!--  win32:  M1=CTRL,    M2=SHIFT, M3=ALT, M4=-
            carbon: M1=COMMAND, M2=SHIFT, M3=ALT, M4=CTRL -->
       
      <key
            sequence="F2"
            contextId="org.erlide.ui.erlangEditorScope"
            commandId="org.erlide.ui.actions.showEDoc"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            commandId="org.erlide.ui.actions.open.editor"
            contextId="org.erlide.ui.erlangEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F3"/>
      <key
            commandId="org.erlide.ui.actions.indent"
            contextId="org.erlide.ui.erlangEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+I"/>
      <key
            commandId="org.erlide.ui.actions.show.outline"
            contextId="org.erlide.ui.erlangEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+O"/>
      <key
            commandId="org.erlide.ui.actions.togglecomment"
            contextId="org.erlide.ui.erlangEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+C"/>      
      <key
            commandId="org.erlide.ui.actions.togglecomment"
            contextId="org.erlide.ui.erlangEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+7"/>      
      <key
            commandId="org.erlide.ui.actions.togglecomment"
            contextId="org.erlide.ui.erlangEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+/"/>
      <key
      		platform="gtk"
            commandId="org.erlide.ui.actions.togglecomment"
            contextId="org.erlide.ui.erlangEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ESC M1+C"/>
      <key
            commandId="org.erlide.ui.navigator.actions.erlang.actions.OpenProvider"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F3">
      </key>      
            
 </extension>
 <extension
       point="org.eclipse.ui.actionSetPartAssociations">
    <actionSetPartAssociation targetID="org.eclipse.ui.edit.text.actionSet.annotationNavigation">
       <part id="org.erlide.ui.editors.erl.ErlangEditor"/>
    </actionSetPartAssociation>
    <actionSetPartAssociation targetID="org.erlide.ui.actions.openActionSet">
       <part id="org.erlide.ui.editors.erl.ErlangEditor"/>
    </actionSetPartAssociation>
 </extension>
 <extension
       point="org.eclipse.ui.actionSets">
    <actionSet
          id="org.erlide.ui.actions.openActionSet"
          label="Open action set"
          visible="false">
       <action
             allowLabelUpdate="true"
             definitionId="org.erlide.ui.actions.open.editor"
             id="org.erlide.ui.actions.open"
             label="Open"
             menubarPath="navigate/open.ext"
             retarget="true"
             tooltip="Open"/>
    </actionSet>
<!--
    <actionSet
          id="org.erlide.ui.actions.console"
          label="Erlang console"
          visible="true">
       <action
             class="org.erlide.ui.actions.ConsoleInputAction"
             definitionId="org.erlide.ui.actions.console.input"
             icon="icons/console.gif"
             id="org.erlide.ui.actions.console.input"
             label="Console input"
             retarget="false"
             style="push"
             toolbarPath="erlang/console"/>
    </actionSet>
-->
 </extension>
 <extension
       point="org.eclipse.compare.structureCreators">
    <structureCreator
          class="org.erlide.ui.internal.compare.ErlStructureCreator"
          extensions="erl,hrl"
          id="org.erlide.ui.compare.ErlStructureCreator"/>
    <contentTypeBinding
          contentTypeId="org.erlide.core.content.erlang"
          structureCreatorId="org.erlide.ui.compare.ErlStructureCreator"/>
 </extension>
 <extension
       point="org.eclipse.compare.contentMergeViewers">
    <viewer
          class="org.erlide.ui.internal.compare.ErlContentViewerCreator"
          id="org.erlide.ui.compare.ErlContentViewerCreator"/>
    <contentTypeBinding
          contentMergeViewerId="org.erlide.ui.compare.ErlContentViewerCreator"
          contentTypeId="org.erlide.core.content.erlang"/>
 </extension>
   <extension
         point="org.erlide.jinterface.codepath">
      <bundle_dir
            path="/ebin">
      </bundle_dir>
   </extension>
   <extension
         point="org.erlide.launching.javaRpcStubs">
      <stub
            class="java.util.Map"
            onlyDeclared="true">
      </stub>
      <stub
            class="org.eclipse.ui.PlatformUI"
            onlyDeclared="true">
      </stub>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
       <viewer
            viewerId="org.erlide.ui.views.navigator.view">
            <popupMenu
                allowsPlatformContributions="true"
                id="org.erlide.ui.views.navigator.view#PopupMenu">
             <insertionPoint name="erlideMenu1"
             				 separator="true"/>
             <insertionPoint name="erlideMenu2"/> 
             <insertionPoint name="group.new"
             				separator="true"/>
             <insertionPoint
                   name="group.open"
                   separator="true"/>
             <insertionPoint name="group.openWith"/>   
             <insertionPoint name="group.edit"
                   separator="true"/>   
             <insertionPoint name="group.reorganize" />         
             <insertionPoint
                   name="group.port"
                   separator="true"/>     
             <insertionPoint
                   name="group.build"
                   separator="true"/> 
             <insertionPoint
                   name="group.generate"
                   separator="true"/> 
             <insertionPoint
                   name="group.search"
                   separator="true"/>              
             <insertionPoint
                   name="additions"
                   separator="true"/>              
             <insertionPoint
                   name="group.properties"
                   separator="true"/>             
          </popupMenu>
      </viewer>
      <viewerContentBinding
            viewerId="org.erlide.ui.views.navigator.view">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.erlide.ui.navigator.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.erlide.ui.navigator.erlangContent">
            </contentExtension>
            <contentExtension
                  pattern="org.erlide.ui.navigator.linkHelper">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="org.erlide.ui.views.navigator.view">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <dragAssistant
            class="org.erlide.ui.ErlDragAdapterAssistant"
            viewerId="org.erlide.ui.views.navigator.view">
      </dragAssistant>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
            description="Hide non-Erlang projects"
            id="org.erlide.ui.navigator.filters.hideNonJavaProjects"
            name="Hide non-Erlang projects">
         <filterExpression>
            <not>
               <or>
                  <instanceof
                        value="org.eclipse.core.resources.IFolder">
                  </instanceof>
                  <instanceof
                        value="org.eclipse.core.resources.IFile">
                  </instanceof>
                  <adapt
                        type="org.eclipse.core.resources.IProject">
                     <test
                           property="org.eclipse.core.resources.projectNature"
                           value="org.erlide.core.erlnature">
                     </test>
                  </adapt>
                  <adapt
                        type="org.eclipse.core.resources.IProject">
                     <test
                           property="org.eclipse.core.resources.open"
                           value="false">
                     </test>
                  </adapt>
               </or>
            </not>
         </filterExpression>
      </commonFilter>
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.erlide.ui.navigator.ErlangFileContentProvider"
            icon="icons/erlang_editor.gif"
            id="org.erlide.ui.navigator.erlangContent"
            labelProvider="org.erlide.ui.views.outline.ErlangLabelProvider"
            name="Erlang File Contents"
            priority="normal">
         <triggerPoints>
            <or>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IResource">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.core.resources.extension"
                        value="erl">
                  </test>
               </and>
               <instanceof
                     value="org.erlide.core.erlang.IErlElement">
               </instanceof>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IResource">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.core.resources.extension"
                        value="hrl">
                  </test>
               </and>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IResource">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.core.resources.extension"
                        value="yrl">
                  </test>
               </and>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="org.erlide.core.erlang.IErlElement">
               </instanceof>
            </or>
         </possibleChildren>
         <actionProvider
               class="org.erlide.ui.navigator.actions.ErlangFileActionProvider"
               id="org.erlide.ui.navigator.actions.erlang.actions.OpenProvider">
         </actionProvider>
         <commonSorter
               class="org.erlide.ui.navigator.ErlElementPositionSorter"
               id="org.erlide.ui.navigator.ErlElementPositionSorterId">
         </commonSorter>
      </navigatorContent>
   </extension>
   
   <!-- Bind the Properties content extension to the viewer -->
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="org.erlide.ui.ErlangProjectImport.category"
            name="Erlang">
      </category>
      <wizard
            category="org.erlide.ui.ErlangProjectImport.category"
            class="org.erlide.ui.wizards.ErlangProjectImportWizard"
            icon="icons/erlang_editor.gif"
            id="org.erlide.ui.ErlangProjectImport.wizard"
            name="Import erlang project into workspace">
         <description>
            Import an existing erlang project from the local file system into the workspace.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.erlide.ui.navigatorObjectContribution"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="org.erlide.ui.actions.NewErlangModuleAction"
               icon="icons/erlang_NewModule.png"
               id="org.erlide.ui.menuModuleAction"
               label="New Module"
               menubarPath="erlideMenu2">
         </action>
 
      </objectContribution>
      <viewerContribution
            id="org.erlide.ui.navigatorViewerContribution"
            targetID="org.erlide.ui.views.navigator.view#PopupMenu">
         <action
               class="org.erlide.ui.actions.NewErlangProjectAction"
               icon="icons/newproject.png"
               id="org.erlide.ui.menuProjectAction"
               label="New Erlang Project"
               menubarPath="erlidemenu1">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.linkHelper">
      <linkHelper
            class="org.erlide.ui.actions.ErlangLinkHelperAction"
            id="org.erlide.ui.navigator.linkHelper">
         <selectionEnablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IFile">
               </adapt>
            </or></selectionEnablement>
            <editorInputEnablement>
				<instanceof value="org.eclipse.ui.IFileEditorInput"/>
			</editorInputEnablement>
      </linkHelper>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="org.erlide.ui.navigator.NavigatorProblemsDecorator"
            id="org.erlide.ui.navigatorDecorator"
            label="Erlang Problem Decorator"
            lightweight="true"
            location="BOTTOM_LEFT"
            state="true">
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.preferenceTransfer">
      <transfer
            icon="icons/erl/erlang-notext016.gif"
            id="org.erlide.ui.transfer1"
            name="Erlang preferences">
         <mapping
               scope="instance">
            <entry
                  node="org.erlide.basicui">
            </entry>
            <entry
                  node="org.erlide.ui">
            </entry>
                        <entry
                  node="org.erlide.core">
            </entry>
                        <entry
                  node="org.erlide.launching">
            </entry>
            
         </mapping>
      </transfer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.erlide.ui.prefs.ErlangPreferencePage"
            id="org.erlide.ui.preferences"
            name="Erlang"/>
      <page
            category="org.erlide.ui.preferences"
            class="org.erlide.ui.prefs.ReportPreferencePage"
            id="org.erlide.basic.reporting"
            name="Report problems">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.erlide.categories.views"
            name="Erlang"/>
      <view
            category="org.erlide.categories.views"
            class="org.erlide.ui.views.ErlLoggerView"
            icon="icons/icons/sample.gif"
            id="org.erlide.basic.views.ErlLoggerView"
            name="Erlang Logger"/>
   </extension>
</plugin>
