@import url(http://yui.yahooapis.com/2.5.2/build/reset/reset-min.css);
@import url(http://yui.yahooapis.com/2.5.2/build/fonts/fonts-min.css);
@import url(http://yui.yahooapis.com/2.5.2/build/base/base-min.css);
.sect1, .sect2, .sect3, .sect4
{
	padding-left: 1em;
}
.command
{
	font-family: monospace;
}
.screen
{
	border: 1px dotted #0000DD;
}
.toc DL
{
	margin-top: 0;
	margin-bottom: 0;
}
.toc
{
	border: 1px dotted;
	background-color: #EFF3F5;
	margin-left: 2em;
	margin-right: 2em;
	padding-left: 1em;
	padding-right: 1em;
}
.term
{
	font-weight: bold;
}
DIV.ABSTRACT
{
	/*[disabled]border:2px solid;*/
	/*[disabled]padding-left:10pt;*/
	/*[disabled]padding-right:10pt;*/
}
PRE.SCREEN
{
	/*[disabled]font-family:monospace;*/
	/*[disabled]white-space:pre;*/
	/*[disabled]width:100%;*/
	/*[disabled]background-color:#FFFFCC;*/
	/*[disabled]border:1px dotted #009999;*/
	/*[disabled]padding-left:15pt;*/
}
PRE.PROGRAMLISTING
{
	/*[disabled]font-family:monospace;*/
	/*[disabled]white-space:pre;*/
	/*[disabled]width:100%;*/
	/*[disabled]color:black;*/
	/*[disabled]background-color:#F9F9F9;*/
	/*[disabled]border:1px dashed #2F6FAB;*/
	/*[disabled]padding-left:15pt;*/
}
.note, .warning, .important
{
	font-style: italic;
	border: 1px dashed #000000;
	width: 70%;
	margin-left: 15%;
	background-color: #D8DAE9;
	padding-left: 1em;
}
.warning, .important
{
	border-color: red;
}
.bold
{
	font-weight: bold;
}
TABLE.TIP
{
	/*[disabled]font-style:italic;*/
	/*[disabled]border:1px solid #000000;*/
	/*[disabled]width:70%;*/
	/*[disabled]margin-left:15%;*/
}
TABLE.WARNING
{
	/*[disabled]font-style:italic;*/
	/*[disabled]font-weight:bold;*/
	/*[disabled]border:4px ridge #FF0000;*/
	/*[disabled]width:70%;*/
	/*[disabled]margin-left:15%;*/
}
DIV.VARIABLELIST
{
	/*[disabled]font-style:normal;*/
	/*[disabled]font-weight:normal;*/
	/*[disabled]padding-left:20px;*/
}
.VARLISTENTRY
{
	/*[disabled]font-weight:bold;*/
	/*[disabled]margin-top:10px;*/
	/*[disabled]color:#FFFFFF;*/
	/*[disabled]background-color:#A0A0D0;*/
	/*[disabled]border:1px solid #606090;*/
	/*[disabled]padding:1px;*/
}
A[href^="http:"]
{
	/*[disabled]background:url(images/remote.gif) no-repeat right center;*/
	/*[disabled]padding-right:12px;*/
}
A[href^="http:"]:hover
{
	/*[disabled]background:url(images/remote_a.gif) no-repeat right center;*/
}
A[href^="#FTN"]
{
	/*[disabled]background:url(images/qbullet-note.gif) no-repeat right center;*/
	/*[disabled]padding-right:12px;*/
}
A[href^="#FTN"]:hover
{
	/*[disabled]background:url(images/qbullet-note_a.gif) no-repeat right center;*/
}
A[name^="FTN"]
{
	/*[disabled]background:url(images/scrollup.gif) no-repeat right center;*/
	/*[disabled]padding-right:12px;*/
}
A[name^="FTN"]:hover
{
	/*[disabled]background:url(images/scrollup_a.gif) no-repeat right center;*/
}
DIV.imagelink A[href^="http:"]
{
	/*[disabled]background:transparent;*/
	/*[disabled]padding-right:0px;*/
}
DIV.imagelink A[href^="http:"]:hover
{
	/*[disabled]background:transparent;*/
}
DIV.NAVFOOTER
{
	display: none;
}
DIV.NAVHEADER
{
	display: none;
}
CODE
{
	background-color: #FFFFCC;
}
.screen
{
	background-color: #FFFFCC;
	padding-left: 1em;
	padding-top: 0.5em;
	white-space: pre;
}
.userinput
{
	color: blue;
}
.guimenu, .guisubmenu, .guimenuitem
{
	background-color: #DDDDCC;
	font-family: monospace;
}
