rem -- Copy this file to build-erlide.bat and customize it according to your environment
rem -- 
rem -- Any changes that are to be persistent should of course be made here

SET eclipseDir=c:\eclipse
SET eclipseLauncher=%eclipseDir%\plugins\org.eclipse.equinox.launcher_1.0.101.R34x_v20081125.jar
"c:\program files\java\jdk1.5.0_16\bin\java" -jar %eclipseLauncher% -application org.eclipse.ant.core.antRunner -buildfile build-erlide.xml 2>&1 1>build.log

