<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="sourcePathProvider" name="sourcePathProvider" schema="schema/sourcePathProvider.exsd"/>
   <extension
         point="org.erlide.model.api.erlangEngine"> 
      <erlangEngine 
            class="org.erlide.engine.internal.DefaultErlangEngine">
      </erlangEngine>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.core.resources.IResource"
            class="org.erlide.engine.internal.util.ElementAdapterFactory">
         <adapter
               type="org.erlide.engine.model.root.IErlElement">
         </adapter>
      </factory>
   </extension>
</plugin>
