<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="codepath" name="codepath" schema="schema/codepath.exsd"/>
   <extension-point id="javaRpcStubs" name="javaRpcStubs" schema="schema/javaRpcStubs.exsd"/>
   <extension-point id="sourcePathProvider" name="sourcePathProvider" schema="schema/sourcePathProvider.exsd"/>
   <extension-point id="messageReporter" name="messageReporter" schema="schema/messageReporter.exsd"/>

     <extension
         id="erlnature"
         name="Erlang Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.erlide.core.internal.ErlangNature">
         </run>
      </runtime>
      <builder id="org.erlide.core.erlbuilder"/>
      <builder
            id="org.erlide.core.builder.DialyzerBuilder">
      </builder>
   </extension>
   <extension
         id="erlbuilder"
         name="Erlang builder"
         point="org.eclipse.core.resources.builders">
      <builder >
         <run
               class="org.erlide.core.builder.ErlangBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="builder.DialyzerBuilder"
         name="Dialyzer Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.erlide.core.builder.DialyzerBuilder">
         </run></builder>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            default-charset="ISO-8859-1"
            file-extensions="erl,hrl,yrl"
            id="org.erlide.core.content.erlang"
            name="Erlang source file"
            priority="normal"/>
   </extension>
   <extension
         id="problemmarker"
         name="Erlang Problems"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <persistent value="true"/>
   </extension>
   <extension
         id="taskmarker"
         name="Erlang task"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.taskmarker"/>
      <persistent value="true"/>
   </extension>
   <extension
         id="dialyzewarningmarker"
         name="Dialyze Warning"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourcePathComputers">
      <sourcePathComputer
            class="org.erlide.runtime.launch.ErlangSourcePathComputerDelegate"
            id="org.erlide.core.sourcepathcomputer"/>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            class="org.erlide.runtime.launch.ErlangSourceLookupDirector"
            id="org.erlide.core.erlangLocatorDirector"
            name="erlide-launching.erlangSourceLocator"/>
   </extension>
    <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            class="org.erlide.runtime.debug.ErlangLineBreakpoint"
            id="erlang.lineBreakpoint"
            markerType="org.erlide.core.erlang.lineBreakpoint.marker"
            name="%erlangLineBreakpoint.name"/>
   </extension>
  <extension
        id="erlang.lineBreakpoint.marker"
        name="Erlang Line Breakpoint"
        point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.debug.core.breakpointMarker"/>
      <persistent value="true"/>
   </extension>
   <extension
         id="org.erlide.core.erlang.lineBreakpoint.marker"
         name="Erlang Line Breakpoint Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.debug.core.lineBreakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
         point="org.eclipse.debug.core.processFactories">
      <processFactory
            class="org.erlide.runtime.backend.internal.ErtsProcessFactory"
            id="org.erlide.core.backend.ertsprocessfactory"/>
   </extension>
  <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.erlide.runtime.launch.ErlangLaunchDelegate"
            id="org.erlide.core.launch.erlangProcess"
            modes="run, debug"
            name="Erlang application"
            public="true"
            sourceLocatorId="org.erlide.core.erlangLocatorDirector"
            sourcePathComputerId="org.erlide.core.sourcepathcomputer">
      </launchConfigurationType>
      <launchConfigurationType
            delegate="org.erlide.runtime.launch.ErlangLaunchDelegate"
            id="org.erlide.core.launch.internal"
            modes="run"
            name="internal"
            public="false"
            sourceLocatorId="org.erlide.core.erlangLocatorDirector"
            sourcePathComputerId="org.erlide.core.sourcepathcomputer">
      </launchConfigurationType>
   </extension>
</plugin>
