<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
     <extension
         id="erlnature"
         name="Erlang Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.erlide.core.internal.builder.ErlangNature">
         </run>
      </runtime>
      <builder id="org.erlide.core.erlbuilder"/>
   </extension>
   <extension
         id="erlbuilder"
         name="Erlang builder"
         point="org.eclipse.core.resources.builders">
      <builder >
         <run
               class="org.erlide.core.internal.builder.ErlangBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            default-charset="ISO-8859-1"
            describer="org.erlide.core.content.ErlangContentDescriber"
            file-extensions="erl,hrl,yrl"
            id="org.erlide.core.content.erlang"
            name="Erlang source file"
            priority="normal">
         <describer
               class="org.erlide.core.content.ErlangContentDescriber">
         </describer>
      </content-type>
   </extension>
   <extension
         id="problemmarker"
         name="Erlang Problems"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <persistent value="true"/>
   </extension>
   <extension
         id="taskmarker"
         name="Erlang task"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.taskmarker"/>
      <persistent value="true"/>
   </extension>
  <extension
        id="erlang.lineBreakpoint.marker"
        name="Erlang Line Breakpoint"
        point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.debug.core.breakpointMarker"/>
      <persistent value="true"/>
   </extension>
</plugin>
