<plugin>
<extension point="org.eclipse.help.toc"><toc primary="true" file="toc.xml"></toc></extension>
<extension point="org.eclipse.help.index"><index file="html/index.xml"></index></extension>
<extension point="org.eclipse.help.contexts">
    <contexts
         file="erlideContext.xml">
    </contexts>
</extension>
<extension
      point="org.eclipse.ui.cheatsheets.cheatSheetContent">
   <category
         id="org.erlide.help.cheatsheet.erlang"
         name="Erlang cheatsheets">
   </category>
   <cheatsheet
         category="org.erlide.help.cheatsheet.erlang"
         composite="false"
         contentFile="$nl$/cheatsheets/tutorial1.xml"
         id="org.erlide.help.cheatsheet1152782932"
         name="Quick start">
      <description>
         Quick start
      </description>
   </cheatsheet>
</extension>
</plugin>

