<plugin provider-name="Erlide project" version="1.0" id="org.erlide.help" name="Erlide Help"><extension point="org.eclipse.help.toc"><toc primary="true" file="toc.xml"></toc></extension><extension point="org.eclipse.help.index"><index file="index.xml"></index></extension>
                                                                                                                                                                                          <extension
                                                                                                                                                                                                point="org.eclipse.help.contexts">
                                                                                                                                                                                             <contexts
                                                                                                                                                                                                   file="erlideContext.xml">
                                                                                                                                                                                             </contexts>
                                                                                                                                                                                          </extension></plugin>
