<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
         point="org.eclipse.debug.core.sourcePathComputers">
      <sourcePathComputer
            class="org.erlide.selfhost.core.EclipseErlideSourcePathComputerDelegate"
            id="org.erlide.selfhost.sourcepathcomputer"/>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            class="org.erlide.selfhost.core.EclipseErlideSourceLookupDirector"
            id="org.erlide.selfhost.erlangLocatorDirector"
            name="erlide-launching.erlangSourceLocator"/>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.erlide.selfhost.ui.EclipseErlideLaunchConfiguration"
            id="org.erlide.selfhost.launcher"
            modes="run, debug"
            name="Eclipse + Erlang application"
            public="true"
            sourceLocatorId="org.erlide.selfhost.erlangLocatorDirector"
            sourcePathComputerId="org.erlide.selfhost.sourcepathcomputer">
      </launchConfigurationType>
   </extension>
  <extension
        point="org.eclipse.debug.ui.launchConfigurationTabGroups">
     <launchConfigurationTabGroup
           class="org.erlide.selfhost.ui.EclipseErlideLaunchConfigurationTabGroup"
           id="org.erlide.selfhost.launchGroup"
           type="org.erlide.selfhost.launcher">
     </launchConfigurationTabGroup>
  </extension>
 <extension
       point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    <launchConfigurationTypeImage
          configTypeID="org.erlide.selfhost.launcher"
          icon="icons/erl/erlang-eclipse.gif"
          id="org.erlide.selfhost.launcher.erlangNode"/>
 </extension>

</plugin>
