P.Code {
	display: block;
	text-align: left;
	text-indent: 0.00pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 15pt;
	font-size: 10.000000pt;
	font-weight: normal;
	font-style: normal;
	color: #4444CC;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family :  Arial, Helvetica, sans-serif;
}
H6.CaptionFigColumn {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 3.000000pt;
	margin-bottom: 11.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 9.000000pt;
	font-weight: bold;
	font-style: Italic;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family :  Arial, Helvetica, sans-serif;
}
P.Note {
	display: block;
	text-align: left;
	text-indent: 0pt;
	margin-top: 19.500000pt;
	margin-bottom: 19.500000pt;
	margin-right: 0.000000pt;
	margin-left: 30pt;
	font-size: 11.000000pt;
	font-weight: normal;
	font-style: Italic;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family :  Arial, Helvetica, sans-serif;
}
EM.UILabel {
	font-weight: Bold;
	font-style: normal;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family :  Arial, Helvetica, sans-serif;
}
EM.CodeName {
	font-weight: Bold;
	font-style: normal;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family :  Arial, Helvetica, sans-serif;
}

body, html { border: 0px }


body	     { background: #FFFFFF; margin-bottom: 1em }
h1           { font-family : Arial, Helvetica, sans-serif;
               font-size: 18pt;
               margin-top: 5;
               margin-bottom: 1 }	
h2           { font-family : Arial, Helvetica, sans-serif;
               font-size: 14pt;
               margin-top: 25;
               margin-bottom: 3 }
h3           { font-family : Arial, Helvetica, sans-serif;
               font-size: 11pt;
               margin-top: 5px;
               margin-bottom: 5px }
h4           { font-family : Arial, Helvetica, sans-serif;
               font-size: 10pt;
               margin-top: 20; 
               margin-bottom: 3; 
               font-style: italic; }
p            { font-family : Arial, Helvetica, sans-serif;
               margin-top: 10px; 
               margin-bottom: 10px;
               font-size: 10pt; }
pre          { font-family : Arial, Helvetica, sans-serif;
               margin-left: 6; 
               font-size: 10pt; 
               color: #4444CC }
               
h5        { font-family : Arial, Helvetica, sans-serif;
            font-size: 12pt;
            margin-top: 3px; 
			margin-bottom: 3px;
            font-weight:normal; }
label { font-family : Arial, Helvetica, sans-serif; 
		font-size: 12pt;
		font-style:bold;
		font-weight : bold;
		margin-top: 5px; 
		margin-bottom: 5px; }
a:link {
	
	text-decoration: none; 	 
	color: #0000FF
	font-family : Arial, Helvetica, sans-serif;
	font-weight : bold; 	
	font-size : 11pt;
}

a:visited {
	
	text-decoration: underline;
	font-family : Arial, Helvetica, sans-serif;
	color : #3A6EA5;
	font-weight : bold;
	font-size : 11pt;
}

a:hover {
	
	text-decoration: underline; 	
	font-family : Arial, Helvetica, sans-serif;
	color: #000080
	font-weight : bold;
	font-size : 11pt;
}

dl	  { font-family : Arial, Helvetica, sans-serif; font-size: 10pt;margin-top: 10px; margin-bottom: 10px; }
dt	  { font-family : Arial, Helvetica, sans-serif;font-size: 10pt; margin-top: 5px; margin-bottom: 5px; font-weight: bold; }
dd	  { font-family : Arial, Helvetica, sans-serif;font-size: 10pt;margin-top: 5px; margin-bottom: 5px; }
strong { font-family : Arial, Helvetica, sans-serif;font-weight: bold}
em	   { font-family : Arial, Helvetica, sans-serif;font-style: italic}
var	   { font-family : Arial, Helvetica, sans-serif;font-style: italic}
div.revision { font-family : Arial, Helvetica, sans-serif;border-left-style: solid; border-left-width: thin; 
				   border-left-color: #7B68EE; padding-left:5 }
th	     { font-family : Arial, Helvetica, sans-serif;font-weight: bold }

p.title  {
	font-family : Arial, Helvetica, sans-serif;
	color : #000000;
	font-weight : bold;
	font-size : 18pt;
}

p.subtitle  {
	font-family : Arial, Helvetica, sans-serif;
 	color : #000000;
	font-weight : bold;
	font-size : 11pt;
}
p.smalltitle  {
	font-family : Arial, Helvetica, sans-serif;
 	color : #000000;
	font-weight : bold;
	font-size : 10pt;
		margin-top: 3px; 
	margin-bottom: 3px;
}
p.text  {
	font-family : Arial, Helvetica, sans-serif;
 	color : #000000;
	font-weight : normal;
	font-size : 11pt;
	margin-top: 3px; 
	margin-bottom: 3px; 
}
p.smalltext  {
	font-family : Arial, Helvetica, sans-serif;
 	color : #000000;
	font-weight : normal;
	font-size : 9pt;
	margin-top: 3px; 
	margin-bottom: 3px; 
}
