<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="erlide">
         <property
               name="aboutText"
               value="erlide about haha &lt;b&gt;hej&lt;/b&gt; \nhallå">
         </property>
         <property
               name="appName"
               value="erlide">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutImage"
               value="erlang120.gif">
         </property>
         <property
               name="windowImages"
               value="images/erlang-64.gif,images/erlang-64.gif,images/erlang-64.gif,images/erlang-64.gif,images/erlang-64.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
      </product>
   </extension>
</plugin>
