<?xml version="1.0" encoding="UTF-8"?>
<?pde version="3.5"?>

<target name="Eclipse 3.5.2 + erlide 0.8.1">
<locations>
<location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
<unit id="org.eclipse.platform.ide" version="3.5.2.M20100211-1343"/>
<unit id="org.eclipse.equinox.executable.feature.group" version="3.3.201.R35x_v20091211-7M-FngFELSU3Pqlv3JdZn"/>
<unit id="org.eclipse.platform.source.feature.group" version="3.5.2.R35x_v20100210-0800-9hEiFzmFst-TiEn9hNYgDWg1XN8ulH_JvCNGB"/>
<unit id="org.eclipse.platform.sdk" version="3.5.2.M20100211-1343"/>
<unit id="org.eclipse.pde.feature.group" version="3.5.2.R35x_v20100119-7Z7_FA2FDX-aXQYWqYDBz-z0qufo"/>
<unit id="org.eclipse.sdk.ide" version="3.5.2.M20100211-1343"/>
<repository location="http://download.eclipse.org/releases/galileo"/>
</location>
<location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
<unit id="org.erlide.feature.group" version="0.8.1.201005250801"/>
<repository location="http://erlide.org/update"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/J2SE-1.5"/>
<launcherArgs>
<programArgs>-debug -verbose -consoleLog</programArgs>
</launcherArgs>
</target>
